vim/
xmonad/xmonad-x86_64-linux
xmonad/xmonad.hi
xmonad/xmonad.o
oh-my-zsh/
ipython/profile_science/db
ipython/profile_science/history.sqlite
ipython/profile_default/db
ipython/profile_default/history.sqlite
