{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh

# For pyenv
sudo apt install make build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev \
libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python-openssl
curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash

# other apps
sudo apt install trash-cli nvim nodejs npm xclip

# install yarn
sudo npm install -g corepack
corepack enable
corepack prepare yarn@stable --activate

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/sh
brew update

# for pyenv
brew install pyenv

# other apps
brew install trash-cli mvim node-js npm xclip

sudo npm install -g corepack
corepack enable
corepack prepare yarn@stable --activate

{{ end -}}
