{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh

read -r -p "Would you like to install the dotfiles specified packages with linux? [y/N] " response
if [[ "$response" =~ ^([yY][eE][sS]|[yY])$ ]]
then
    echo "Installing applications for linux; note needs sudo"

    echo "Installing pyenv"
    sudo apt install make build-essential libssl-dev zlib1g-dev \
    libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev \
    libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python-openssl
    curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash

    echo "Installing other cli applications"
    sudo apt install trash-cli nvim nodejs npm xclip

    echo "Installing yarn using npm"
    sudo npm install -g corepack
    corepack enable
    corepack prepare yarn@stable --activate
else
    echo "Skipping package installation script"
fi

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/sh

read -r -p "Would you like to install the dotfiles specified packages with macos? [y/N] " response
if [[ "$response" =~ ^([yY][eE][sS]|[yY])$ ]]
then
    echo "Installing applications for macos; note needs homebrew"

    echo "Updating home brew"
    brew update

    echo "Installing pyenv"
    brew install pyenv

    echo "Installing other applications"
    brew install trash-cli node npm xclip
    brew install --cask macvim

    echo "Installing yarn using npm"
    sudo npm install -g corepack
    corepack enable
    corepack prepare yarn@stable --activate
else
    echo "Skipping package installation script"
fi

{{ end -}}
